/* GENERAL ELEMENTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;

  background-color: #534d74;
  font-family: Arial, Helvetica, sans-serif;
}

/* ELEMENTS */
button {
  width: 3rem;
  height: 3rem;
}

/* STRUCTURAL ELEMENTS */
.__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 1em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5em;

  background-color: beige;
}

.buttons {
  padding: 0.5em 1em 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

#num {
  width: 4em;
}

.grid {
  width: 600px;
  height: 600px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: white;
}

.tile {
  display: flex;
}
